.social {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 40px;

  @include vp-767 {
    margin-right: 0;
  }
}

.social__link {
  padding: 20px 18px;

  &:hover {
    opacity: 0.5;
  }

  svg {
    display: block;
  }
}