// Colors
// ---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-transparent-part: rgba(255, 255, 255, 0.30);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-blackcurrant: #1A191B;
$tints-of-black: #101010;


// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

$ff-HalvarBreit: "HalvarBreit", "Arial", sans-serif;
$ff-EurostileRoundExtended: "EurostileRoundExtended", "Arial", sans-serif;


// Viewports
// ---------------------------------

$vp-1320: 1320px;
$vp-768: 768px;
$vp-320: 320px;


// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;